body{
    background-color: #fbf5dd;
    color: #131010;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.calculator{
    border: 1px solid #131010;
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #dda853;
}
.input-num{
    width: 100%;
    font-size: 20px;
    margin: 10px 0;
    padding: 5px;
}
.input-num:focus{
    outline: none;
}
.text-result{
    text-align: center;
}
.btn {
    width: 40%;
    display: block;
    margin: 0 auto;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
}
.btn-cal{
    background-color:#16404d;
}
.btn-reset{
    background-color: #a6cdc6;
}
.btn-group{
    display: flex;
}